rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Users collection
    match /users/{userId} {
      allow read, write: if true;
    }

    // Transactions collection
    match /transactions/{txnId} {
      allow read, write: if true;
    }

    // Notifications collection
    match /notifications/{notifId} {
      allow read, write: if true;
    }

    // User Devices collection for push notification tokens
    match /userDevices/{deviceId} {
      allow read, write: if true;
    }

    // Settings collection
    match /settings/{docId} {
      allow read, write: if true;
    }

    // Default safety catch-all
    match /{document=**} {
      allow read, write: if false;
    }
  }
}

